@using WebMatrix.Data

@{
    var db = Database.Open("Mushroom");
    var searchText = Request.QueryString["searchText"];
    var sql = "select * from Family";

    

    var Family = db.Query(sql, "%" + searchText + "%");
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="site.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        .search-form {
            margin-bottom: 20px;
        }

        .search-input {
            padding: 10px;
            width: 70%;
        }

        .search-button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f5f5f5;
        }

        .btn {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }


            
    </style>
    
                
       
    </script>
</head>
<body>
    <div class="container">
        <h2>Mushroom Families </h2>

        <form class="search-form" method="get" action="/Home/Index">
            <input class="search-input" type="text" name="searchText" placeholder="functionality based on the family name " value="@searchText" />
            <button class="search-button" type="submit">Search</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>FamilyID</th>
                    <th>Family Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var Familys in Family)
            {
                <tr>
                    <td>@Familys.FamilyID</td>
                    <td>@Familys.FamilyName</td>
                    <td>
                        <a href=" /Home/Details? id=@Familys.FamilyID" class="btn btn-secondary" target="_blank">Show details</a>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>



</body>
</html>

